---
import SectionHeader from "../components/common/SectionHeader.astro";
import ServiceCard from "../components/cards/ServiceCard.astro";

const { heading, items } = Astro.props;
---
<section class="content-section">
  <div class="shell">
    <SectionHeader {...heading} />
    <div class="card-grid">
      {items.map((item) => <ServiceCard item={item} />)}
    </div>
  </div>
</section>
